@font-face {
    font-family: roboto-medium;
    src: url(./roboto/Roboto-Medium.ttf);
}

.roboto-medium {
    font-family: roboto-medium
}

@font-face {
    font-family: roboto-bold;
    src: url(./roboto/Roboto-Bold.ttf);
}

.roboto-bold {
    font-family: roboto-bold;
}

@font-face {
    font-family: roboto-regular;
    src: url(./roboto/Roboto-Regular.ttf);
}

.roboto-regular {
    font-family: roboto-regular
}

@font-face {
    font-family: roboto-light;
    src: url(./roboto/Roboto-Light.ttf);
}

.roboto-light {
    font-family: roboto-light
}

@font-face {
    font-family: roboto-italic;
    src: url(./roboto/Roboto-Italic.ttf);
}

.roboto-italic {
    font-family: roboto-italic
}

@font-face {
    font-family: roboto-thin-italic;
    src: url(./roboto/Roboto-ThinItalic.ttf);
}

.roboto-thin-italic {
    font-family: roboto-thin-italic
}

@font-face {
    font-family: roboto-thin;
    src: url(./roboto/Roboto-Thin.ttf);
}

.roboto-thin {
    font-family: roboto-thin
}
@font-face {
    font-family: roboto-black;
    src: url(./roboto/Roboto-Black.ttf);
}

.roboto-black {
    font-family: roboto-black
}