
.show-listing .card-section {
  width: 220px;
  display: inline-block;
  margin: 25px 20px;
}
.show-listing .show-card {
  height: 300px;
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1);
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1);
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1);
  transition: all 200ms ease-in;
  transform: scale(1);
}
.show-listing .network-section {
  color: #00416a;
  font-size: 15px;
  font-family: roboto-bold;
}
.show-listing .network-section .heading {
  color: #00416aec;
}
.show-listing .show-card .detail-section {
  position: absolute;
  bottom: 0px;
  padding: 8px 8px;
  color: #e8e8e8;
  left: 0;
  right: 0;
  font-family: roboto-medium;

  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.9)
  );
  -webkit-transition: all 200ms ease-in;
  -ms-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
  height: 12%;
}
.show-listing .card-section .show-card:hover {
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
  z-index: 2;
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1.03);
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1.03);
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1.03);
  transition: all 200ms ease-in;
  transform: scale(1.03);
}
.show-listing .air-time {
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 1px 6px;
  border-radius: 3px;
  border: 2px solid #00416a;
  font-size: 13px;
  font-family: roboto-medium;
  background: #0070b79e;
  color: #fff;
}
.show-listing .card-section .show-card:hover .detail-section {
  height: 20%;
}
.show-listing .detail-section .sub-section-detail span {
  font-family: roboto-medium;
  font-size: 12px;
  color: lightgrey;
}
.show-listing .detail-section .show-name {
  font-family: roboto-medium;
  font-size: 13px;
  color: #fff;
}
.main-heading{
  margin: 0 20px;
  color: #04396B 
}
