.show-name-heading{
    color: #00416aec;
    font-family: roboto-bold
}
.sub-headings span{
    font-size: 14px;
}
.card-title{
    color: #00416aec;  
}
.summary-section{
    font-size: 15px
}
.airtime{
    padding: 2px 8px;
    border-radius: 1px;
    
    font-size: 15px;
    font-family: roboto-medium;
    background: #0070b79e;
    color: #fff;
}