body {
    background-image: linear-gradient(to right, #ffffff, #d7dde8);
    font-family: roboto-regular;
  }
  @media only screen and (max-width: 600px) {
    .show-listing .card-section {
      width: 120px !important;
    }
    .show-listing .show-card {
      height: 180px !important;
    }
    .show-listing .show-card .detail-section{
      height: 17% !important;
    }
    .show-listing .card-section .show-card:hover .detail-section {
      height: 30% !important;
    }
  }